<!DOCTYPE html>  
<html>  
<head>  
  <meta charset="UTF-8">  
  <style>  
    {{> styles/report}}  
  </style>  
</head>  
<body>  
  {{> reports/header}}  
  
  <div class="content">  
    {{{body}}}  
  </div>  
  
  {{> reports/footer}}  
</body>  
</html>  
